section {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}
.input-box {
  display: flex;
  gap: 8px;
  margin-bottom: 30px;
}
input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  border-color: rgb(99, 99, 99);
}
input:hover {
  border-color: black;
}
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  padding: 8px 16px;
  background-color: #4e75ff;
  border-radius: 8px;
  cursor: pointer;
}
.active {
  border-color: #4e75ff;
}
button:hover {
  background-color: #6c8cff;
}
.timer {
  display: flex;
  gap: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  width: 346px;
  height: 72px;
}
.field {
  display: flex;
  flex-direction: column;

  width: 55px;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.disabled {
  background-color: #cfcfcf;
}
